@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body, .searchbar{
    height: 100%;
    width: 100%;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchbar{
    font-size: 18px;
}

#but{
    color: white;
    background: burlywood;
    border-color: burlywood;
    border-style: none;
    padding: 10px 10px 5px 10px;
}

.searchsmall{
    width: 40px;
}