/*Added font Poppins, added NavBar, main redesign*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body, .Search{
    height: 99%;
    width: 99%;
    max-width: 1920px;
    max-height: 1080px;
}

body{
    background-color: white;
}
@media (min-width: 750px) {
    #Search{ /*Search input*/
        margin: auto;
        font-size: 18px;
        width: 550px;
        border-radius: 30px 0 0 30px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 17px;
        background: rgb(233, 233, 233);
        border-style: none;
        transition: width .5s, border-radius .5s;
        -o-transition: width .5s, border-radius .5s ;
        -moz-transition: width .5s, border-radius .5s ;
        -webkit-transition: width .5s, border-radius .5s ;
    } 
    #but {
        font-size: 28px;
        margin: auto;
        color: white;
        background: burlywood;
        border-color: burlywood;
        border-radius: 0 30px 30px 0;
        border-style: none;
        padding-top: 11px;
        padding-bottom: 11px;
        padding-right: 40px;
        padding-left: 40px;
        transition: background .4s, border-radius .4s;
        -o-transition: background .4s, border-radius .4s;
        -moz-transition: background .4s, border-radius .4s;
        -webkit-transition: background .4s, border-radius .4s;
    }
}

@media (max-width: 750px){
    #Search{ /*Search input*/
        margin: auto;
        width: 280px;
        font-size: 18px;
        border-radius: 30px 0 0 30px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 17px;
        background: rgb(233, 233, 233);
        border-style: none;
        transition: width .5s, border-radius .5s ;
        -o-transition: width .5s, border-radius .5s;
        -moz-transition: width .5s, border-radius .5s;
        -webkit-transition: width .5s, border-radius .5s;
    }

    #but {
        font-size: 28px;
        margin: auto;
        color: white;
        background: burlywood;
        border-color: burlywood;
        border-radius: 0 30px 30px 0;
        border-style: none;
        padding-top: 11px;
        padding-bottom: 11px;
        padding-right: 40px;
        padding-left: 40px;
        transition: background .4s, border-radius .4s;
        -o-transition: background .4s, border-radius .4s;
        -moz-transition: background .4s, border-radius .4s;
        -webkit-transition: background .4s, border-radius .4s;
    }
}

.Search{
    display: flex;
    justify-content: center;
    align-items: center;
} 

.main {
    display: flex;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    margin-top: 30px;
}

.nav ul a{
    font-size: 18px;
    background: burlywood;
    margin: 10px;
    border-radius: 30px;
    padding: 15px 20px 15px 20px;
    text-decoration: none;
    color: white;
    transition: border-radius .5s, background .5s;
}

.nav ul a:hover{
    background: rgb(205, 170, 124);
    border-radius: 20px;
}

#Search:focus-visible{  
    outline: 0; 
    border-radius: 20px 0 0 20px;
}

#but:hover {
    background: rgb(205, 170, 124);
    border-radius: 0 20px 20px 0;
}