@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    background: #FFECE2;
}
#logobox{
    top: 22%;
    position: absolute;
    height: 0%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#logo{
    height: 200px;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.367));
}
#searchbarbox{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
}
#searchbar{
    font-size: 20px;
    width: 70%;
    height: 80px;
    border-radius: 30px;
    border-style: none;
    background: #D3C3B0;
    box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.25);
    padding: 1px 40px 0 30px;
}
#searchbar::placeholder{
    font-size: 20px;
    color: #FFECE2;
}
.butbox{
    overflow: visible;
    height: 100%;
    width: 15%;
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: right;
    z-index: 400;
}
.but{
    display: flex;
    color: white;
    margin-right: 10%;
    border-style: none;
    border-radius: 30px;
    background: #E5B985;
    box-shadow: -3px 0px 24px -6px rgba(0, 0, 0, 0.25);
    height: 80px;
    z-index: 400;
    transition: background .5s, box-shadow .7s;
}
.but:hover{
    background: #c29c70;
    box-shadow: -3px 0px 30px -6px rgba(255, 255, 255, 0.25);
}
.searchsmall{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
}
.butimg{
    height: 35px;
    z-index: 400;
}
#searchbar:focus-visible{
    outline: 0;
}
#active{
    color:#605952;
    filter: drop-shadow(0px 4px 10px rgba(110, 101, 90, 0.767));
    pointer-events: none;
}
@media screen and (min-width:681px) and (orientation: landscape) {
    .nav{
        bottom: 0;
        position: absolute;
        width: 100%;
        height: 0%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        z-index: 400;
    }
    .nav ol{
        display: flex;
        list-style: none;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 25px;
        width: 500px;
        height: 90px;
        border-radius: 35px;
        background: #E6B985;
        box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.25);
    }
    .nav ol li{
        width: 100%;
    }
    .nav ol li a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 28px;
        text-decoration: none;
        width: 100%;
        padding: 24px;
        transition: color .5s, background .5s;
    }
    .home:hover, .image:hover, .advan:hover{
        background: #ddb07c;
    }
    .home{
        border-radius: 35px 0 0 35px;
        color: #FFECE2;
        filter: drop-shadow(0px 4px 40px rgba(255, 255, 255, 0.44));
    }
    .image{
        border-radius: 0;
        color: #FFECE2;
        filter: drop-shadow(0px 4px 40px rgba(255, 255, 255, 0.44));
    }
    .advan{
        border-radius: 0 35px 35px 0;
        color: #FFECE2;
        filter: drop-shadow(0px 4px 40px rgba(255, 255, 255, 0.44));
    }
    .butsmall{
        display: flex;
        font: bold;
        font-size: x-large;
        color: #FFECE2;
    }
    #butimgoff{
        display: none;
    }
    #but1{
        width: 80px;
    }
    #but2{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    #butbox1{
        width: 10%;
        margin-left: 76%;
    }
    #butbox2{
        width: 15%;
        margin-left: 71.5%;
    }
    .range{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0.5%;
        width: 70%;
        height: 35px;
    }
    .rangein{
        border-style: none;
        width: 100%;
        height: 100%;
        background: #D3C3B0;
        border-radius: 12px;
        box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.25);
        padding: 13px 15px 10px 15px;
    }
    .inpdes{
        height: 35px;
        margin: 0.5%;
        width: 70%;
        border-radius: 12px;
        border-style: none;
        background: #D3C3B0;
        box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.25);
        padding: 13px 15px 10px 15px;
    }
    .butbox3{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 100%;
        margin: 2%;
    }
    .but3{
        height: 100%;
        width: 150px;
        border-style: none;
        border-radius: 15px;
        background: #E5B985;
        color: #FFECE2;
        font-size: 22px;
        box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.25);
        transition: background .5s;
    }
    .label1{
        font-size: 38px;
        font-weight: bolder;
        filter: drop-shadow(0px 5px 7px rgba(0, 0, 0, 0.367));
    }
    .label2{
        margin: 0.5%;
        font-size: 19px;
        filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.367));
    }
    .label3{
        font-size: 30px;
        font: lighter;
        margin-left: 2%;
        margin-right: 2%;
    }
}
@media screen and (max-width:980px) and (max-height:2120px) and (orientation:portrait){
    #logobox{
        top: 24%;
        position: absolute;
        height: 0%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }
    #logo{
        height: 350px;
    }
    #searchbarbox{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 200;
    }
    #searchbar{
        font-size: 40px;
        width: 900px;
        height: 170px;
        border-radius: 50px;
        border-style: none;
        background: #D3C3B0;
        box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.25);
        padding: 10px 50px 0 50px;
    }
    #searchbar::placeholder{
        font-size: 40px;
    }
    .butbox{
        height: 100%;
        width: 0%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: right;
        margin-left: 100%;
        z-index: 400;
    }
    .but{
        display: flex;
        color: #FFECE2;
        margin-right: 40px;
        border-style: none;
        border-radius: 50px;
        background: #E5B985;
        box-shadow: -3px 0px 24px -6px rgba(0, 0, 0, 0.25);
        width: 170px;
        height: 170px;
        z-index: 400;
        transition: background .5s, box-shadow .5s;
    }
    
    .but:hover{
        background: #c29c70;
        box-shadow: -3px 0px 24px -6px rgba(255, 255, 255, 0.25);
    }
    .searchsmall{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 170px;
        width: 170px;
    }
    .butimg{
        height: 80px;
        z-index: 400;
    }
    .nav{
        bottom: 0;
        position: absolute;
        width: 100%;
        height: 0%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        z-index: 400;
    }
    .nav ol{
        display: flex;
        list-style: none;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 25px;
        width: 900px;
        height: 170px;
        border-radius: 50px;
        background: #E6B985;
        box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.25);
    }
    .nav ol li{
        width: 100%;
    }
    .nav ol li a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;
        text-decoration: none;
        width: 100%;
        padding: 46px;
        transition: background .3s, filter .3s;
    }
    .home:hover, .image:hover, .advan:hover{
        background: #ddb07c;
    }
    .home{
        border-radius: 50px 0 0 50px;
        color: #FFECE2;
        filter: drop-shadow(0px 4px 40px rgba(255, 255, 255, 0.44));
    }
    .image{
        border-radius: 0;
        color: #FFECE2;
        filter: drop-shadow(0px 4px 40px rgba(255, 255, 255, 0.44));
    }
    .advan{
        border-radius: 0 50px 50px 0;
        color: #FFECE2;
        filter: drop-shadow(0px 4px 40px rgba(255, 255, 255, 0.44));
    }
    .butsmall{
        display: none;
    }
    /*___________________For_advan.html____________________*/
    .range{
        margin: 1%;
        width: 90%;
        height: 80px;
    }
    .rangein{
        border-radius: 12px;
        padding: 13px 15px 10px 15px;
        width: 100%;
        height: 100%;
        font-size: 25px;
        box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.25);
    }
    .inpdes{
        height: 80px;
        margin: 1%;
        width: 90%;
        border-radius: 12px;
        font-size: 25px;
        padding: 13px 15px 10px 15px;
    }
    .butbox3{
        height: 80px;
        width: 100%;
        margin: 3%;
    }
    .but3{
        width: 250px;
        border-radius: 15px;
        font-size: 40px;
    }
    .label1{
        font-size: 75px;
        font-weight: bolder;
    }
    .label2{
        margin: 1%;
        font-size: 30px;
    }
    .label3{
        font-size: 45px;
        font: lighter;
        margin-left: 2%;
        margin-right: 2%;
    }
}
.advanbox{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 200;
}
.range{
    display: flex;
    align-items: center;
    justify-content: center;
}
.rangein{
    border-style: none;
    background: #D3C3B0;
}
.rangein::placeholder{
    color: #FFECE2;
}
.rangein:focus-visible{
    outline: 0;
}
.inpdes{
    border-style: none;
    background: #D3C3B0;
    box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.25);
}
.inpdes::placeholder{
    color: #FFECE2;
}
.inpdes:focus-visible{
    outline: 0;
}
.butbox3{
    display: flex;
    align-items: center;
    justify-content: center;
}
.but3{
    height: 100%;
    border-style: none;
    background: #E5B985;
    color: #FFECE2;
    box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.25);
    transition: background .5s;
}
.but3:hover{
    background: #c29c70;
}